/* TOOLBAR */
.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.toolbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.search-field {
  width: 100%;
  max-width: 420px;
}

/* CONTAINER */
.content-container {
  padding: 24px;
}

/* GRID */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

/* CARD */
.course-card {
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 36px rgba(0, 0, 0, 0.18);
  }
}

/* IMAGEM */
.image-container {
  position: relative;
  height: 190px;
  background: #f3f3f3;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* BADGE */
.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: linear-gradient(135deg, #ff9800, #ff5722);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* CONTEÚDO */
.card-content {
  padding: 18px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.3;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* INFO */
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workload {
  font-size: 13px;
  color: #777;
}

/* PREÇO */
.price-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.old-price {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

.price {
  font-size: 17px;
  font-weight: 700;
  color: #2e7d32;
}

/* LOADING / ERROR */
.loading-container,
.error-container {
  text-align: center;
  margin-top: 48px;
}

.no-results {
  text-align: center;
  font-size: 16px;
  color: #777;
}

/* TABS */
.tabs-container {
  display: flex;
  gap: 8px;

}

.tab-btn {
  background: transparent;
  border: none;

  color: rgba(241, 1, 1, 0.7);
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    color: #ffffff;
  }
}

.tab-btn.active {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 3px solid #ffffff;
}
