.home-container {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #f8fbff, #ffffff);
  padding: 60px 20px;
}

.hero {
  text-align: center;
  margin-bottom: 60px;

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    font-size: 16px;
    color: #6b7280;
  }
}

.cards-container {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 40px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 24px;
  }

  .rounded-btn {
  border-radius: 10px;
  padding: 10px 28px;
  margin-left: 10px;
  }
}

.footer {
  font-size: 12px;
  color: #9ca3af;
}

.login-card {
  max-width: 420px;
  margin: 80px auto;
  padding: 24px;
}

mat-card-header {
  text-align: center;
  margin-bottom: 24px;
}

.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  font-size: 60px;
  width: 85%;
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: color 0.2s;
}

.star.filled {
  color: #FFD700;
}
